In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
data = pd.read_csv('train_E6oV3lV.csv')

In [27]:
# Link: https://www.analyticsvidhya.com/blog/2018/02/the-different-methods-deal-text-data-predictive-python/

In [28]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [29]:
data.shape

(31962, 3)

In [30]:
data.size

95886

In [31]:
data.describe()

                 id         label
count  31962.000000  31962.000000
mean   15981.500000      0.070146
std     9226.778988      0.255397
min        1.000000      0.000000
25%     7991.250000      0.000000
50%    15981.500000      0.000000
75%    23971.750000      0.000000
max    31962.000000      1.000000

In [32]:
data.dtypes

id        int64
label     int64
tweet    object
dtype: object

In [33]:
# No. of words in a sentence
data['word_count'] = data['tweet'].apply(lambda x : len(str(x).split(' ')))
data[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [34]:
# No. of char in a sentence (including spaces)
data['char_count'] = data['tweet'].str.len()
data[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [35]:
# Average length of each word in a sentence

def avg_length(sentence):
    words = sentence.split(' ')
    return sum(len(word) for word in words) / len(words)

data['avg_count'] = data['tweet'].apply(lambda x : avg_length(x))
data[['tweet','avg_count']].head()

                                               tweet  avg_count
0   @user when a father is dysfunctional and is s...   3.904762
1  @user @user thanks for #lyft credit i can't us...   4.590909
2                                bihday your majesty   3.400000
3  #model   i love u take with u all the time in ...   4.117647
4             factsguide: society now    #motivation   4.000000

In [36]:
# No. of stopwords in a sentence

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop = stopwords.words('english')

data['stop_words'] = data['tweet'].apply(lambda x : len([x for x in x.split(' ') if x in stop]))
data[['tweet','stop_words']].head()

ModuleNotFoundError: No module named 'nltk'

In [37]:
# No. of #tags in tweets

data['hash_words'] = data['tweet'].apply(lambda x : len([x for x in x.split(' ') if x.startswith('#')]))
data[['tweet','hash_words']].head()

                                               tweet  hash_words
0   @user when a father is dysfunctional and is s...           1
1  @user @user thanks for #lyft credit i can't us...           3
2                                bihday your majesty           0
3  #model   i love u take with u all the time in ...           1
4             factsguide: society now    #motivation           1

In [38]:
# Transforming tweets into lower case

data['tweet'] = data['tweet'].apply(lambda x : " ".join(x.lower() for x in x.split(' ')))
data['tweet'].head()

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

In [39]:
# Removing punctuations

data['tweet'] = data['tweet'].str.replace('[^\w\s]','')
data['tweet'].head()

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

In [42]:
# Removing stopwords
!pip install nltk

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop = stopwords.words('english')
data['tweet'] = data['tweet'].apply(lambda x : " ".join(x for x in x.split() if x not in stop))
data['tweet'].head()

Requirement already satisfied: nltk in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk) (2023.5.5)
Requirement already satisfied: tqdm in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk) (4.65.0)

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/pratham/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0    @user father dysfunctional selfish drags kids ...
1    @user @user thanks #lyft credit can't use caus...
2                                       bihday majesty
3    #model love u take u time urð±!!! ððð...
4                      factsguide: society #motivation
Name: tweet, dtype: object

In [43]:
# Removing common word from tweets 

# 10 most frequently occurring words in our text

freq = pd.Series(' '.join(data['tweet']).split()).value_counts()[:10]
freq

@user    17291
&amp;     1574
day       1454
#love     1449
happy     1328
-         1244
u         1116
love      1112
i'm        992
like       920
Name: count, dtype: int64

In [44]:
data['tweet'] = data['tweet'].apply(lambda x: ' '.join(x for x in x.split() if x not in freq))
data['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks #lyft credit can't use cause offer whee...
2                                       bihday majesty
3    #model take time urð±!!! ðððð ð...
4                      factsguide: society #motivation
Name: tweet, dtype: object

In [45]:
# Removing rerely used from tweets 

# 10 most rear words occurring words in our text

freq = pd.Series(' '.join(data['tweet']).split()).value_counts()[-10:]
freq

ukip        1
europ...    1
them,we     1
joke...     1
kylo,       1
prick       1
berry       1
ciroc       1
cents       1
chisolm.    1
Name: count, dtype: int64

In [46]:
data['tweet'] = data['tweet'].apply(lambda x: ' '.join(x for x in x.split() if x not in freq))
data['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks #lyft credit can't use cause offer whee...
2                                       bihday majesty
3    #model take time urð±!!! ðððð ð...
4                      factsguide: society #motivation
Name: tweet, dtype: object

In [49]:
# Spelling Correction
!pip install textblob

import textblob
from textblob import TextBlob
data['tweet'][:5].apply(lambda x : str(TextBlob(x).correct()))

Requirement already satisfied: textblob in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: joblib in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk>=3.1->textblob) (2023.5.5)
Requirement already satisfied: tqdm in /home/pratham/jupy/jup_notebook/lib/python3.10/site-packages (from nltk>=3.1->textblob) (4.65.0)

0    father dysfunctional selfish drags kiss dysfun...
1    thanks #left credit can't use cause offer whee...
2                                       midday majesty
3    #model take time or±!!! ðððð ð¦...
4                      factsguide: society #motivation
Name: tweet, dtype: object

In [52]:
# Tokenization
!python -m textblob.download_corpora

import textblob
from textblob import TextBlob
TextBlob(data['tweet'][1]).words

[nltk_data] Downloading package brown to /home/pratham/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to /home/pratham/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/pratham/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/pratham/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to
[nltk_data]     /home/pratham/nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     /home/pratham/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
Finished.

WordList(['thanks', 'lyft', 'credit', 'ca', "n't", 'use', 'cause', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [54]:
# Stemming 

from nltk.stem import PorterStemmer
st = PorterStemmer()
data['tweet'][:5].apply(lambda x : " ".join([st.stem(word) for word in x.split()]))

0    father dysfunct selfish drag kid dysfunction. ...
1    thank #lyft credit can't use caus offer wheelc...
2                                       bihday majesti
3    #model take time urð±!!! ðððð ð...
4                           factsguide: societi #motiv
Name: tweet, dtype: object

In [55]:
# Lemmatization 

!python -m textblob.download_corpora

import textblob
from textblob import Word 
data['tweet'] = data['tweet'].apply(lambda x : " ".join([Word(word).lemmatize() for word in x.split()]))
data['tweet'].head()

[nltk_data] Downloading package brown to /home/pratham/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to /home/pratham/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/pratham/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/pratham/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to
[nltk_data]     /home/pratham/nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     /home/pratham/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
Finished.

0    father dysfunctional selfish drag kid dysfunct...
1    thanks #lyft credit can't use cause offer whee...
2                                       bihday majesty
3    #model take time urð±!!! ðððð ð...
4                      factsguide: society #motivation
Name: tweet, dtype: object

In [73]:
# Term frequency
# TF = (Number of times term T appears in the particular row) / (number of terms in that row)

tf1 = (data['tweet'][1:2].apply(lambda x : pd.value_counts(x.split(" ")))).sum(axis = 0)
tf1.columns = ['words','tf']
tf1

thanks          1
#lyft           1
credit          1
can't           1
use             1
cause           1
offer           1
wheelchair      1
van             1
pdx.            1
#disapointed    1
#getthanked     1
dtype: int64

In [76]:
# Inverse Document Frequency
# IDF = log(N/n)

for i,word in enumerate(tf1['words']):
    tf1.loc[i, 'idf'] = np.log(data.shape[0] / (len(data[data['tweet'].str.contains(word)])))
tf1

KeyError: 'words'

In [77]:
data.head(10)

,id,label,tweet,word_count,char_count,avg_count,hash_words
0,1,0,father dysfunctional selfish drag kid dysfunct...,21,102,3.904762,1
1,2,0,thanks #lyft credit can't use cause offer whee...,22,122,4.590909,3
2,3,0,bihday majesty,5,21,3.400000,0
3,4,0,#model take time urð±!!! ðððð ð...,17,86,4.117647,1
4,5,0,factsguide: society #motivation,8,39,4.000000,1
5,6,0,[2/2] huge fan fare big talking leave. chaos p...,21,116,4.571429,1
6,7,0,camping tomorrow dannyâ¦,12,74,5.250000,0
7,8,0,next school year year exams.ð¯ can't think ð...,23,143,5.260870,7
8,9,0,won!!! land!!! #allin #cavs #champions #clevel...,13,87,5.769231,5
9,10,0,welcome ! #gr8 !,15,50,2.400000,1